body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav-bar{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    
}
.navbar {
    font-family: 'Roboto', sans-serif; /* Fonte personalizada */
}

.navbar .nav-link {
    font-size: 16px; /* Tamanho da fonte dos links */
    font-weight: 400; /* Peso da fonte */
}

.navbar .navbar-brand {
    font-size: 20px; /* Tamanho da fonte do logo */
    font-weight: 700; /* Peso da fonte do logo */
}

.navbar .nav-link.active {
    font-weight: 400; /* Remove o peso extra */
    color: inherit; /* Mantém a cor padrão dos links */
}

.hero{
    display: flex;
    width: 1280px;
    height: 710px;
    margin: 0 auto;
    padding-top: 25px;
}
.hero .img{
    width:50%;
}
.hero .img .img-hero{
    width: 630px;
}
.hero  h2{
    margin-top: 150px;
    margin-left: 40px;
    font-size: 52px;
}
.hero p{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 19px;
}
.hero .btn{
    margin-top: 20px;
    margin-left: 40px;
    width: 300px;
    height: 70px;
    background-color: white;
    color: #41B763;
    border-radius: 5px;
    border: solid 3px #41B763;
    font-size: 16px;
    font-weight: 500;
}
.hero .btn:hover{
    background-color: #41B763;
    cursor: pointer;
}
.hero .btn .link-hero{
    text-decoration: none;
    color: #41B763;
}
.hero .btn .link-hero:hover{
    text-decoration: none;
    color: white;
}